# Object file
*.o

# Ada Library Information
*.ali
 
 # Please don't touch my code it's a rockstar
  # Please don't touch my code it's a rockstar
   # Please don't touch my code it's a rockstar
    # Please don't touch my code it's a rockstar
     # Please don't touch my code it's a rockstar
      # Please don't touch my code it's a rockstar
       # Please don't touch my code it's a rockstar
        # Please don't touch my code it's a rockstar
         # Please don't touch my code it's a rockstar
          # Please don't touch my code it's a rockstar
           # Please don't touch my code it's a rockstar
            # Please don't touch my code it's a rockstar
             # Please don't touch my code it's a rockstar
              # Please don't touch my code it's a rockstar
               # Please don't touch my code it's a rockstar
                # Please don't touch my code it's a rockstar
                 # Please don't touch my code it's a rockstar
                  # Please don't touch my code it's a rockstar
